
:root {
  --color-primary: hsl(83, 85%, 41%);
  --color-primary-darker: hsl(83, 85%, 36%);
  --color-font: #444;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body, input, button {
  color: var(--color-font);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 4.8rem;
  background-color: hsl(0, 0%, 95%);
}

/* Table */

.table__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 1.6rem;
  background-color: white;
  box-shadow: 0 5px 15px hsl(0, 0%, 75%);
}

.table__wrapper h1 {
  font-size: 4.8rem;
  font-weight: 200;
  margin-bottom: 1.2rem;
  padding: 1.2rem 0;
  color: #666;
}

table {
  table-layout: fixed;
}

th, td {
  padding: 1.2rem;
  font-weight: 200;
}

/* Table header */

thead th {
  width: 19%;
  text-align: start;
  vertical-align: top;
  background-color: var(--color-primary);
  color: white;
}

thead th:first-child {
  width: 24%;
  background-color: #EEE;
  color: #777;
}

thead th span {
  display: block;
}

thead th span:nth-child(1) {
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
}

thead th span:nth-child(2) {
  font-size: 1.2rem;
  opacity: 0.75;
}

/* Table body */

tbody th {
  padding-left: 0;
  text-align: start;
}

tbody td {
  text-align: center;
}

tbody th,
tbody td {
  --vertical-padding: 1.8rem;
  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
}

tbody tr:first-child td,
tbody tr:first-child th {
  padding-top: 3.2rem;
}

/* Icon */

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid var(--color-font);
  border-radius: 10000px;
  position: relative;
}

.icon::before,
.icon::after {
  font-weight: 700;
  color: var(--color-font)
}

/* Check icon */

.icon--check {
  border-color: var(--color-primary);
}

.icon--check::after {
  content: "\2713";
  color: var(--color-primary);
  font-size: 2rem;
  transform: translateY(-2%);
}

/* Exit icon */

.icon--exit::after {
  content: "\2A2F";
  font-size: 2.6rem;
}

/* Price */

.price strong {
  vertical-align: top;
}

.price__value {
  font-size: 4.8rem;
  color: var(--color-primary);
  font-weight: 700;
  line-height: 4rem;
}

.price__time {
  display: block;
  margin-top: 0.4rem;
  font-size: 1.2rem;
  opacity: 0.75;
}

/* Line */

.line td {
  padding: 0;
  border-top: 1px solid black;
  opacity: 0.1;
}

/* Table footer */

tfoot td {
  padding-bottom: 0;
  text-align: center;
}

/* Button */

.button {
  min-height: 2.4rem;
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: #DDD;
  border-radius: none;
  transition: 150ms ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: #CCC;
}

/* Button primary */

.button--primary {
  background-color: var(--color-primary);
  color: white;
}

.button--primary:hover {
  background-color: var(--color-primary-darker);
}