
:root {
  --primary: hsl(83, 85%, 41%);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  color: #444;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 100vh;
}

/* Table */

table {
  width: 100%;
  max-width: 900px;
  table-layout: fixed;
}

th, td {
  padding: 1.2rem;
  font-weight: 200;
}

/* Table header */

thead th {
  width: 19%;
  text-align: start;
  vertical-align: top;
  background-color: var(--primary);
  color: white;
}

thead th:first-child {
  width: 24%;
  background-color: #EEE;
  color: #777;
}

thead th span {
  display: block;
}

thead th span:nth-child(1) {
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
}

thead th span:nth-child(2) {
  font-size: 1.2rem;
}

/* Table body */

tbody th {
  padding-left: 0;
  text-align: start;
}

tbody td {
  text-align: center;
}

tbody tr:first-child td,
tbody tr:first-child th {
  padding-top: 3.2rem;
}